@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'montserrat', sans-serif;
}

/* scroll bar */
html::-webkit-scrollbar {
	width: 0.5rem;
}

html::-webkit-scrollbar-track {
	background: #ffffff;
}

html::-webkit-scrollbar-thumb {
	background: #e2beff;
}

/* bg-loader */
.bg-loader{
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-loader .loader{
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #7814a7;
	border-right-color: #7814a7;
	border-bottom-color: #7814a7;
	animation: puterin .8s linear infinite;
}

/* navbar */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #72139e;
}

.navbar-light .navbar-nav .nav-link {
    color: #b584cc;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #72139e;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #72139e;
}

/* Banner */
.banner {
    margin-top: 50px;
    background-color: #e2beff;
}

.banner-images{
    width: 80%;
    height: 412px;
    margin-top: 110px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.banner{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.banner .container {
    height: 650px;
}

/* about */
.about .container {
    height: 650px;
}


/* carousel */
.carousel-caption {
	bottom: 240px;
	z-index: 2;
}
.carousel-caption h5 {
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
    color: #4e1e64;
}
.carousel-caption p {
	margin: auto;
	font-size: 18px;
	line-height: 1, 9;
    color: #461a5a;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.w-100 {
	height: 100vh;
}

.carousel-indicators > button {
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
}

.btn {
    margin-top: 20px;
    color: #c59dd8;
    background-color: #752d96;
    border-color: #752d96;
}

.btn:hover {
    color: #b584cc;
    background-color: #4e1e64;
    border-color: #4e1e64;
}

.btn:focus {
    color: #b584cc;
    background-color: #4e1e64;
    border-color: #4e1e64;
}

/* authors */

.authors .container {
    height: 600px;
}

.authors {
    margin-top: 10px;
    color: #313437;
}

.authors p{
    color: #7d8285;
}
.authors .pad{
    padding: 30px 0;
}
.authors .item{
    text-align: center;
}
.authors .item .box{
    text-align: center;
    padding: 30px;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.authors .item .authors-name{
    font-weight: 900;
    margin-top: 28px;
    margin-bottom: 8px;
    color:#4e1e64;
}
.authors .item .authors-role{
    text-transform: uppercase;
    font-weight: bold;
    color:#752b97;;
    letter-spacing: 2px;
    font-size: 13px;
}
.authors .item .authors-description{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #752b97; ;
}
.authors .item img{
    max-width: 160px;
}

/* discuss */
.discuss .container {
    height: 650px;
}

@keyframes puterin{
	100%{
		transform: rotate(360deg);
	}
}